# Virtual Environment
venv/

# Model files
*.joblib

# Python cache
__pycache__/
*.pyc

# Cache directory
cache/

# Data files
data/financial_data_pykrx_pit.parquet

# Joblib temp directory
.joblib_temp/

# Log files
logs/
*.log
